@import url('https://giscus.app/themes/preferred_color_scheme.css');
.gsc-comment-box-tabs {
	border-radius: 0;
}
.gsc-comment-box.gsc-comment-box {
	border-radius: 0;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
}
.gsc-header,
.gsc-reactions-count,
#__next .gsc-reactions-count + div {
	margin-left: 8px;
	margin-right: 8px;
}
.gsc-reactions-count {
	text-align: left;
	margin-left: 16px;
	margin-right: 16px;
}
#__next .gsc-reactions-count + div {
	justify-content: start;
}
.gsc-reactions-menu {
	order: 1
}
