html,
body {
	box-sizing: border-box;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	/* background-color: #FF6969; */
	background: url('./background.svg') top center/25% light-dark(#990000, #440000);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-size: 16px;
}

body>* {
	flex-grow: 1;
}

:root {
	--is-light-mode: initial;
	--is-dark-mode: ;
}

@media (prefers-color-scheme: dark) {

	:root {
		--is-light-mode: ;
		--is-dark-mode: initial;
	}
}

pre code.hljs{display:block;}
/*!
  Theme: GitHub & GitHub Dark
  Description: Light/Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark & https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
	color: light-dark(#24292e, #ff7b72);
	background: light-dark(#fff, #0d1117)
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
	color: light-dark(#d73a49, #ff7b72)
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
	color: light-dark(#6f42c1, #d2a8ff)
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
	color: light-dark(#005cc5, #79c0ff)
}

.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
	color: light-dark(#032f62, #a5d6ff)
}

.hljs-built_in,
.hljs-symbol {
	color: light-dark(#e36209, #ffa657)
}

.hljs-code,
.hljs-comment,
.hljs-formula {
	color: light-dark(#6a737d, #8b949e)
}

.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
	color: light-dark(#22863a, #7ee787)
}

.hljs-subst {
	color: light-dark(#24292e, #c9d1d9)
}

.hljs-section {
	color: light-dark(#005cc5, #1f6feb);
	font-weight: 700
}

.hljs-bullet {
	color: light-dark(#735c0f, #f2cc60)
}

.hljs-emphasis {
	color: light-dark(#24292e, #c9d1d9);
	font-style: italic
}

.hljs-strong {
	color: light-dark(#24292e, #c9d1d9);
	font-weight: 700
}

.hljs-addition {
	color: light-dark(#22863a, #aff5b4);
	background-color: light-dark(#f0fff4, #033a16)
}

.hljs-deletion {
	color: light-dark(#b31d28, #ffdcd7);
	background-color: light-dark(#ffeef0, #67060c)
}
