.root {
	display: grid;
	grid-template:
		"info-me content" auto
		"info-post content" auto
		"toc content" 96px
		"toc content" auto
		"toc children" 1fr
		"toc comments" auto
		"toc moreReading" auto
		/ 256px 1fr;
	padding: 0 64px;
	column-gap: 16px;
	align-items: flex-start;
}
.rootShort {
	composes: root;
	grid-template:
		"info-me right" auto
		"info-post right" auto
		"toc right" 1fr
		"toc moreReading" auto
		/ 256px 1fr;

}
.displayContent {
	display: contents;
}
.moreReading {
	grid-area: moreReading;
}
.children {
	grid-area: children;
}
.comments {
	grid-area: comments;
}
.meInfo {
	padding-top: 32px;
	grid-area: info-me;
}
.postInfo {
	grid-area: info-post;
}
.tocWrapper {
	grid-area: toc;
	align-self: stretch;
}
.markdown {
	grid-area: content;
	min-width: 0;
	align-self: stretch;
}
.rightSide {
	display: contents;
}
.rootShort .rightSide{
	grid-area: right;
	display: initial;
}
.last {
	grid-area: last;
}
.hero {
	margin: 0 -16px 16px;
	aspect-ratio: 32/9;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-position: center;
	background-size: cover;
	background-color: gray;
	display: block;
	position: relative;
	line-height: 0;
}
.hero.hero img {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.hero iframe {
	width: 100%;
	height: 100%;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	backdrop-filter: blur(16px);
	border: 0;
}
.caption {
	min-height: 16px;
	position: absolute;
	display: inline-block;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 90%;
	text-decoration: underline;
	line-height: 1.25;
}
.sectionHeading {
	composes: sectionHeading from '../common.module.css';
}
.markdown {
	display: flow-root;
	padding: 0 16px 16px;
}

.markdown figure[data-rehype-pretty-code-figure] {
	margin: 0 -16px;
}

.markdown figure[data-rehype-pretty-code-figure] pre {
	overflow: auto;
	max-height: 90vh;
	margin: 0;
}

.markdown figure[data-rehype-pretty-code-figure] code {
	counter-reset: line;
	padding: 8px 16px;
}

.markdown figure[data-rehype-pretty-code-figure] code[data-line-numbers]>[data-line]::before {
	counter-increment: line;
	content: counter(line);

	/* Other styling */
	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

.markdown figure[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits="2"]>[data-line]::before {
	width: 2rem;
}

.markdown figure[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits="3"]>[data-line]::before {
	width: 3rem;
}
.markdown figure[data-rehype-pretty-code-figure] code[data-theme*=" "],
.markdown figure[data-rehype-pretty-code-figure] code[data-theme*=" "] span {
  color: light-dark(var(--shiki-light), var(--shiki-dark));
  background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
}
.markdown img {
	max-width: 100%;
	aspect-ratio: auto;
	height: auto;
}

