.markdown figure[data-rehype-pretty-code-figure] {
	margin: 0 -16px;
}

.markdown figure[data-rehype-pretty-code-figure] pre {
	overflow: auto;
	max-height: 90vh;
	margin: 0;
}

.markdown figure[data-rehype-pretty-code-figure] code {
	counter-reset: line;
	padding: 8px 16px;
}

.markdown figure[data-rehype-pretty-code-figure] code[data-line-numbers]>[data-line]::before {
	counter-increment: line;
	content: counter(line);

	/* Other styling */
	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

.markdown figure[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits="2"]>[data-line]::before {
	width: 2rem;
}

.markdown figure[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits="3"]>[data-line]::before {
	width: 3rem;
}
.markdown figure[data-rehype-pretty-code-figure] code[data-theme*=" "],
.markdown figure[data-rehype-pretty-code-figure] code[data-theme*=" "] span {
  color: light-dark(var(--shiki-light), var(--shiki-dark));
  background-color: light-dark(var(--shiki-light-bg), var(--shiki-dark-bg));
}
.markdown img {
	max-width: 100%;
	aspect-ratio: auto;
	height: auto;
}

.heading {
	position: relative;
}

.link {
	position: absolute;
	opacity: 0;
	background: url(../../assets/link.svg);
	width: 16px;
	height: 16px;
	top: calc(50%);
	right: 100%;
	transform: translateY(-50%);
}

.heading:hover .link,
.link:focus {
	opacity: 1;
}

.markdown h1 {
	margin: 16px 0;
	font-size: 2.5em;
}

.markdown h2 {
	margin: 14px 0;
}

.markdown h3 {
	margin: 10px 0;
}

.markdown h4 {
	margin: 7px 0;
}

.markdown h5 {
	margin: 4px 0;
}

.markdown h6 {
	margin: 2px 0;
}
