.table {
	overflow: auto;
	max-width: 100%;
	max-height: 90vh;
}
.table table {
	overflow: hidden;
	border-collapse: collapse;
	cursor: crosshair;
}
.table td, .table th {
	padding: 4px;
	position: relative;
	outline: 0;
	z-index: 1;
}

.table tbody tr:nth-child(even),
.table tbody td:nth-child(odd) {
	background: var(--background-faint-highlight);
}
.table tbody tr:hover,
.table tbody tr:hover th:first-child {
	background: var(--background-secondary-color);
}
.table tbody tr:hover th,
.table tbody tr:hover td {
	z-index: 0;
}
.table tr th:first-child,
.table thead tr th {
	position: sticky;
	background: var(--background-color);
	z-index: 2;
}
.table th:first-child {
	left: 0;
}
.table thead th {
	top: 0;
}
.table thead th:first-child {
	z-index: 3;
}

.table td:hover::after,
.table thead th:not(:empty):hover::after,
.table td:focus::after,
.table thead th:not(:empty):focus::after { 
	content: '';  
	height: 10000px;
	left: 0;
	position: absolute;  
	top: -5000px;
	width: 100%;
	z-index: -1;
	pointer-events: none;
}

.table td:hover::after,
.table th:hover::after {
	background-color: var(--background-secondary-color);
}

.table td:focus::after,
.table th:focus::after {
	background-color: lightblue;
}

/* Focus stuff for mobile */
.table td:focus::before,
.table tbody th:focus::before {
	background-color: lightblue;
	content: '';  
	height: 100%;
	top: 0;
	left: -5000px;
	position: absolute;  
	width: 10000px;
	z-index: 0;
	pointer-events: none;
}
