.pagination {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pagination > * {
	margin: 0;
}
.pagination > *:first-child {
	font-weight: bold;
}
.pagination > *:last-child {
	display: flex;
}
.pagination a, .pagination span {
	padding: 0 2px;
}
.pagination a[aria-current=page] {
	font-weight: bold;
}
