.breadcrumb ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.breadcrumb a {
	padding: 8px 0;
}	
.breadcrumb li::before {
	content: "→";
	padding: 0 8px;
}	
.breadcrumb li:first-child::before {
	content: "";
	padding: 0;
}
