.root > div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	padding: 0 var(--content-padding);
	align-items: flex-start;
}
.section p:first-child {
	margin: 0 0 0.5em;
	font-weight: bold;
}
.sectionNavigation {
	composes: section;
	justify-self: flex-start;
}
.sectionSocial {
	composes: section;
	justify-self: center;
}
.sectionLicense {
	composes: section;
	justify-self: flex-end;
}
.sectionSocial ul,
.sectionNavigation ul {
	margin: 0 0 16px;
	padding: 0 16px;
}
.sectionSocial ul {
	padding: 0;
	list-style: none;
}
@media only screen and (max-width: 600px) {
	.root > div {
		grid-template-columns: 1fr;
	}
	.sectionSocial, .sectionLicense {
		justify-self: flex-start;
	}
}
.social::before {
	content: '';
	mask-repeat: no-repeat;
	mask-position: 0 0;
	mask-size: 16px 16px;
	display: inline-block;
	background-color: var(--text-color);
	width: 16px;
	height: 16px;
	margin-right: 3px;
	text-decoration: none;
}
.socialGithub {
	composes: social;
}
.socialGithub::before {
	mask-image: url(../icons/github.svg);
}
.socialKeybase {
	composes: social;
}
.socialKeybase::before {
	mask-image: url(../icons/keybase.svg);
}
.socialFacebook {
	composes: social;
}
.socialFacebook::before {
	mask-image: url(../icons/facebook.svg);
}
.socialTwitter {
	composes: social;
}
.socialTwitter::before {
	mask-image: url(../icons/twitter.svg);
}
.socialStackOverflow {
	composes: social;
}
.socialStackOverflow::before {
	mask-image: url(../icons/stackOverflow.svg);
}
