.scrollWrapper {
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
	font-size: 0.9em;
}
.scrollWrapper::before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	pointer-events: none;
	background: var(--background-color);
	opacity: 0.2;
}
.flex {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.main {
	display: flex;
	flex-direction: row;
	flex: 1;
}
.main > div {
	flex: 1;
	width: 100%;
	padding: var(--content-padding);
}
