.tagCloud {
	position: relative;
}
.tagCloud ul {
	/* padding: 1.2% 0; */
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}
.tagCloud li {
	/* width: 10%; */
	aspect-ratio: 300 / 88;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	--border-size: 1px;
}
.tagCloud a {
	aspect-ratio: 59.8/100;
	width: 30%;
	position: relative;
}
.tagCloud a:link,
.tagCloud a:visited,
.tagCloud a::before,
.tagCloud a::after {
	color: var(--text-primary-color);
	border-top: var(--border-size) groove var(--text-primary-color);
	border-bottom: var(--border-size) groove var(--text-primary-color);
	background: var(--background-primary-color);
}
.tagCloud a:hover,
.tagCloud a:hover::before,
.tagCloud a:hover::after,
.tagCloud a:focus-visible,
.tagCloud a:focus-visible::before,
.tagCloud a:focus-visible::after {
	color: var(--text-secondary-color);
	border-top-color: var(--text-secondary-color);
	border-bottom-color: var(--text-secondary-color);
	background-color: var(--background-secondary-color);
}
.tagCloud a:active,
.tagCloud a:active::before,
.tagCloud a:active::after {
	color: var(--text-secondary-color);
	border-top-color: var(--text-tertiary-color);
	border-bottom-color: var(--text-tertiary-color);
	background-color: var(--background-tertiary-color);
}
.tagCloud a::before,
.tagCloud a::after {
	content: '';
	position: absolute;
	top: calc(var(--border-size) * -1);
	bottom: calc(var(--border-size) * -1);
	left: 0;
	right: 0;
}
.tagCloud a::before {
	transform: rotate(60deg);
}
.tagCloud a::after {
	transform: rotate(-60deg);
}
.tagCloud a > span {
	position: absolute;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
.tagCloud a > span:last-child {
	top: 5%;
	left: 0%;
	right: 0%;
}
.tagCloud a > span:first-child {
	top: 25%;
	bottom: 25%;
	left: -30%;
	right: -30%;
	overflow-wrap: break-word;
}
.tag1 {
	--border-size: 1px;
}
.tag2 {
	--border-size: 1.5px;
}
.tag3 {
	--border-size: 2px;
}
.tag4 {
	--border-size: 2.5px;
}
.tag5 {
	--border-size: 3px;
}
.tag6 {
	--border-size: 3.5px;
}
.tag7 {
	--border-size: 4px;
}
.tag8 {
	--border-size: 4.5px;
}

@media (min-width:1601px) {
	.tagCloud ul {
		padding: 1.2% 0;
	}
	.tagCloud li {
		width: 10%;
	}
	.tagCloud li:nth-child(19n+11) {
		margin-left: 5%;
	}
}
@media (max-width: 1600px) and (min-width:1201px) {
	.tagCloud ul {
		padding: 1.5% 0;
	}
	.tagCloud li {
		width: 12.5%;
	}
	.tagCloud li:nth-child(15n+9) {
		margin-left: 6.25%;
	}
}
@media (max-width: 1200px) and (min-width:1001px) {
	.tagCloud ul {
		padding: 2.4% 0;
	}
	.tagCloud li {
		width: 20%;
	}
	.tagCloud li:nth-child(9n+6) {
		margin-left: 10%;
	}
}
@media (max-width: 1000px) and (min-width:801px) {
	.tagCloud ul {
		padding: 3% 0;
	}
	.tagCloud li {
		width: 25%;
	}
	.tagCloud li:nth-child(7n+5) {
		margin-left: 12.5%;
	}
}
@media (max-width: 800px) and (min-width:551px) {
	.tagCloud ul {
		padding: 3.99996% 0;
	}
	.tagCloud li {
		width: 33.333%;
	}
	.tagCloud li:nth-child(5n+4) {
		margin-left: 16.6665%;
	}
}
@media (max-width: 550px) and (min-width:351px) {
	.tagCloud ul {
		padding: 7.5% 0;
	}
	.tagCloud li {
		width: 50%;
	}
	.tagCloud li:nth-child(3n+3) {
		margin-left: 25%;
	}
}
@media (max-width: 350px) {
	.tagCloud ul {
		padding: 9.9% 0;
	}
	.tagCloud li {
		width: 66%;
	}
	.tagCloud li:nth-child(2n+2) {
		margin-left: 34%;
	}
}
