.root a {
	position: relative;
	font-size: 14px;
	text-decoration: none;
	padding: 2px 4px;
	border: 2px solid var(--text-primary-color);
	border-left-width: 1px;
	border-right-width: 1px;
	background-color: var(--background-primary-color);
	margin: 0;
	display: inline-block;
	font-weight: 500;
}
.root a:first-of-type {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	border-left-width: 2px;
}
.root a:last-of-type {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-right-width: 2px;
}
.root a:link, .root a:visited {
	color: var(--text-primary-color);
}
.root a:focus-visible, .root a:hover {
	color: var(--text-secondary-color);
	background-color: var(--background-secondary-color);
	border-color: var(--text-secondary-color);
}
.root a:active {
	color: var(--text-tertiary-color);
	background-color: var(--background-tertiary-color);
	border-color: var(--text-tertiary-color);
}
a.extra:link {
	font-weight: 100;
}
