.root > div {
	display: grid;
	align-items: center;
	height: 200px;
	flex: 1;
	border-left: 2px solid var(--text-primary-color);
	border-right: 2px solid var(--text-primary-color);
	grid-template-columns: auto 32px 1fr 100px;
	grid-template-rows: auto;
	grid-template-areas:
		"logo _ jobTitle themeSwitcher"
		"logo icon nav nav";
	position: relative;
}

.root > div::before {
	content: '';
	grid-area: 2 / 1 / 2 / 5;
	height: 2px;
	background: var(--text-primary-color);
}
.root > div::after {
	content: '';
	grid-area: icon;
	height: 18px;
	width: 18px;
	background: var(--text-primary-color);
	align-self: center;
	justify-self: center;
	-webkit-mask-position: center center;
	mask-position: center center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
    -webkit-mask-image: url(../icons/diode.svg);
	mask-image: url(../icons/diode.svg);
}

.logo {
	grid-area: logo;
}
.jobTitle {
	grid-area: jobTitle;
}
.nav {
	grid-area: nav;
}
.themeSwitcher {
	grid-area: themeSwitcher;
	justify-self: end;
	margin-right: 8px;
}
.skip {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	padding: 4px;
	background: var(--background-color);
	color: var(--text-color);
	border-right: 1px solid var(--text-color);
	border-bottom: 1px solid var(--text-color);
	z-index: 1;
}
.skip:focus {
	pointer-events: initial;
	opacity: 1;
}

@media only screen and (max-width: 900px) {
	.root > div {
		grid-template-columns: auto 32px 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"logo _ themeSwitcher"
			"logo _ jobTitle"
			"nav nav nav";
		height: auto;
	}
	.root > div::before {
		grid-area: nav;
	}
	.root > div::after {
		display: none;
	}
	.nav {
		justify-self: center;
	}
}


@media only screen and (max-width: 600px) {
	.root > div {
		grid-template-columns: auto 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"logo themeSwitcher"
			"jobTitle jobTitle"
			"nav nav";
		height: auto;
	}
	.jobTitle {
		margin-left: var(--content-padding);
		text-align: center;
	}
	.themeSwitcher {
		align-self: start;
	}
	.root > div::before {
		align-self: flex-end;
	}
}
