.root > div {
	display: grid;
	align-items: center;
	height: 200px;
	flex: 1;
	border-left: 2px solid var(--text-primary-color);
	border-right: 2px solid var(--text-primary-color);
	grid-template-columns: auto 32px 1fr 100px;
	grid-template-rows: auto;
	grid-template-areas:
		"logo _ jobTitle themeSwitcher"
		"logo icon nav nav";
	position: relative;
}

.logo {
	grid-area: logo;
}
.jobTitle {
	grid-area: jobTitle;
}
.nav {
	grid-area: nav;
}
.themeSwitcher {
	grid-area: themeSwitcher;
	justify-self: end;
	margin-right: 8px;
}
.skip {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	padding: 4px;
	background: var(--background-color);
	color: var(--text-color);
	border-right: 1px solid var(--text-color);
	border-bottom: 1px solid var(--text-color);
	z-index: 1;
}
.skip:focus {
	pointer-events: initial;
	opacity: 1;
}
.decorativeBackground {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--text-primary-color);
	opacity: var(--header-opacity);
	mask-image: url(../images/header-background.svg);
	mask-position: bottom;
	mask-size: 600px;
	pointer-events: none;
}

@media only screen and (max-width: 900px) {
	.root > div {
		grid-template-columns: auto 32px 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"logo _ themeSwitcher"
			"logo _ jobTitle"
			"nav nav nav";
		height: auto;
	}
	.nav {
		justify-self: center;
	}
}


@media only screen and (max-width: 600px) {
	.root > div {
		grid-template-columns: 1fr auto 1fr;
		grid-template-rows: auto;
		grid-template-areas:
			"_ logo themeSwitcher"
			"jobTitle jobTitle jobTitle"
			"nav nav nav";
		height: auto;
	}
	.jobTitle {
		margin-left: var(--content-padding);
		text-align: center;
	}
	.themeSwitcher {
		align-self: start;
	}
	.decorativeBackground {
		mask-size: 300px;
	}
}
