:root {
	color-scheme: light dark;
}
:root, .themeLight {
	--text-color: black;
	--text-primary-color: hsl(200, 90%, 20%);
	--text-secondary-color: hsl(80, 90%, 20%);
	--text-tertiary-color: hsl(320, 90%, 20%);
	--background-color: white;
	--background-primary-color: hsl(200, 90%, 80%);
	--background-secondary-color: hsl(80, 90%, 80%);
	--background-tertiary-color: hsl(320, 90%, 80%);
	--button-color: hsl(200, 10%, 80%);
	--button-active-color: hsl(200, 10%, 70%);

	--text-link-idle-color: rgb(26, 13, 171);
	--text-link-visited-color: #6c00a2;
	--text-link-focus-color: rgb(13, 113, 171);

	--hljs-color: #24292e;
	--hljs-background-color: #ffffff;
	--hljs-0-color: #d73a49;
	--hljs-1-color: #6f42c1;
	--hljs-2-color: #005cc5;
	--hljs-3-color: #032f62;
	--hljs-4-color: #e36209;
	--hljs-5-color: #6a737d;
	--hljs-6-color: #22863a;
	--hljs-7-color: #24292e;
	--hljs-8-color: #005cc5;
	--hljs-9-color: #735c0f;
	--hljs-10-color: #24292e;
	--hljs-11-color: #24292e;
	--hljs-12-color: #22863a;
	--hljs-12-background-color: #f0fff4;
	--hljs-13-color: #b31d28;
	--hljs-13-background-color: #ffeef0;
}
.themeDark {
	--text-color: #eee;
	--text-primary-color: hsl(200, 90%, 40%);
	--text-secondary-color: hsl(80, 90%, 40%);
	--text-tertiary-color: hsl(320, 90%, 40%);
	--background-color: black;
	--background-primary-color: hsl(200, 90%, 20%);
	--background-secondary-color: hsl(80, 90%, 20%);
	--background-tertiary-color: hsl(320, 90%, 20%);
	--button-color: hsl(200, 10%, 20%);
	--button-active-color: hsl(200, 10%, 30%);

	--text-link-idle-color: rgb(123, 118, 177);
	--text-link-visited-color: #b697c5;
	--text-link-focus-color: rgb(146, 177, 196);

	--hljs-color: #c9d1d9;
	--hljs-background-color: #0d1117;
	--hljs-0-color: #ff7b72;
	--hljs-1-color: #d2a8ff;
	--hljs-2-color: #79c0ff;
	--hljs-3-color: #a5d6ff;
	--hljs-4-color: #ffa657;
	--hljs-5-color: #8b949e;
	--hljs-6-color: #7ee787;
	--hljs-7-color: #c9d1d9;
	--hljs-8-color: #1f6feb;
	--hljs-9-color: #f2cc60;
	--hljs-10-color: #c9d1d9;
	--hljs-11-color: #c9d1d9;
	--hljs-12-color: #aff5b4;
	--hljs-12-background-color: #033a16;
	--hljs-13-color: #ffdcd7;
	--hljs-13-background-color: #67060c;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: white;
		--text-primary-color: hsl(200, 90%, 40%);
		--text-secondary-color: hsl(80, 90%, 40%);
		--text-tertiary-color: hsl(320, 90%, 40%);
		--background-color: black;
		--background-primary-color: hsl(200, 90%, 20%);
		--background-secondary-color: hsl(80, 90%, 20%);
		--background-tertiary-color: hsl(320, 90%, 20%);
		--button-color: hsl(200, 10%, 20%);
		--button-active-color: hsl(200, 10%, 30%);
	
		--hljs-color: #c9d1d9;
		--hljs-background-color: #0d1117;
		--hljs-0-color: #ff7b72;
		--hljs-1-color: #d2a8ff;
		--hljs-2-color: #79c0ff;
		--hljs-3-color: #a5d6ff;
		--hljs-4-color: #ffa657;
		--hljs-5-color: #8b949e;
		--hljs-6-color: #7ee787;
		--hljs-7-color: #c9d1d9;
		--hljs-8-color: #1f6feb;
		--hljs-9-color: #f2cc60;
		--hljs-10-color: #c9d1d9;
		--hljs-11-color: #c9d1d9;
		--hljs-12-color: #aff5b4;
		--hljs-12-background-color: #033a16;
		--hljs-13-color: #ffdcd7;
		--hljs-13-background-color: #67060c;
	}
}
